In [54]:
import pandas as pd
from datetime import datetime

In [55]:
hdi_df = pd.read_csv('../data-sources/Human Development Index - Full.csv')
imf_gdp_df = pd.read_csv('../data-sources/imf-gdp.csv')

min_year = 2015
current_datetime = datetime.now()
current_year = current_datetime.year

In [56]:
column_list = [col for col in hdi_df.columns if col.startswith('Human Development Index (') and (int(col.replace(')', '').replace('Human Development Index (', '')) >= min_year) and (int(col.replace(')', '').replace('Human Development Index (', '')) <= current_year)]
column_list = ['Country'] + column_list

hdi_clean_df = hdi_df[column_list].dropna()
clean_df_columns = hdi_clean_df.columns
clean_df_columns = [col.replace(')', '').replace('Human Development Index (', '') for col in clean_df_columns]
hdi_clean_df.columns = clean_df_columns
hdi_clean_df.reset_index(drop=True, inplace=True)
hdi_clean_df

                  Country   2015   2016   2017   2018   2019   2020   2021
0             Afghanistan  0.478  0.481  0.482  0.483  0.488  0.483  0.478
1                  Angola  0.582  0.596  0.597  0.595  0.595  0.590  0.586
2                 Albania  0.795  0.798  0.802  0.806  0.810  0.794  0.796
3                 Andorra  0.867  0.871  0.868  0.872  0.873  0.848  0.858
4    United Arab Emirates  0.865  0.870  0.897  0.909  0.920  0.912  0.911
..                    ...    ...    ...    ...    ...    ...    ...    ...
185                 Samoa  0.716  0.717  0.716  0.716  0.715  0.712  0.707
186                 Yemen  0.477  0.467  0.459  0.459  0.461  0.460  0.455
187          South Africa  0.716  0.719  0.720  0.726  0.736  0.727  0.713
188                Zambia  0.562  0.564  0.568  0.572  0.575  0.570  0.565
189              Zimbabwe  0.582  0.588  0.594  0.602  0.601  0.600  0.593

[190 rows x 8 columns]

In [51]:
imf_gdp_df.rename(columns={'GDP, current prices (Billions of U.S. dollars)': 'Country'}, inplace=True)
column_list = ['Country'] + [col for col in imf_gdp_df.columns if col != 'Country' and (int(col) >= min_year and int(col) <= current_year)]
column_list
clean_imf_gdp_df = imf_gdp_df[column_list].dropna()
clean_imf_gdp_df = clean_imf_gdp_df[clean_imf_gdp_df.isin(['no data']).any(axis=1) == False]
clean_imf_gdp_df.reset_index(drop=True, inplace=True)
clean_imf_gdp_df

,Country,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028,2029
0,Albania,11.389,11.862,13.053,15.157,15.399,15.192,17.984,19.083,22.743,25.431,26.911,28.691,30.542,32.534,34.674
1,Algeria,187.494,180.764,190.004,194.507,193.361,164.774,185.884,225.631,244.746,266.78,277.339,287.038,294.125,300.405,306.032
2,Andorra,2.789,2.895,2.993,3.217,3.155,2.885,3.325,3.376,3.726,3.897,4.033,4.16,4.289,4.421,4.554
3,Angola,116.194,101.124,122.022,101.353,84.516,57.139,74.861,122.826,94.381,92.123,95.386,98.704,104.687,109.642,114.976
4,Antigua and Barbuda,1.337,1.437,1.468,1.605,1.675,1.416,1.561,1.758,1.954,2.127,2.258,2.367,2.48,2.6,2.725
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
215,Major advanced economies (G7),34859.182,35853.391,37119.473,39159.079,39866.497,39159.79,43174.358,44196.816,46800.246,48678.121,50581.874,52616.99,54663.837,56834.383,58991.231
216,Middle East and Central Asia,3707.572,3661.862,3769.416,3927.65,3844.41,3432.579,4024.552,4814.101,4741.431,4965.982,5179.102,5482.678,5817.017,6154.19,6518.916
217,Other advanced economies,6579.533,6711.265,7213.794,7591.194,7454.576,7410.158,8603.101,8649.548,8748.888,9110.58,9536.576,9954.415,10372.563,10818.861,11272.286
218,Sub-Saharan Africa,1632.177,1515.749,1620.614,1756.116,1770.64,1675.01,1891.501,2011.398,1937.839,1895.862,2008.448,2135.359,2284.279,2443.336,2615.01
219,World,75128.93,76395.062,81255.999,86246.426,87494.083,85257.581,96989.561,100662.948,104791.082,109529.216,114828.025,120583.405,126507.755,132732.857,139048.771